@keyframes slideInDown {
    from {
      transform: translate3d(0, -100%, 0);
      opacity: 0;
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  .animate-slideInDown {
    animation-name: slideInDown;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }
  