.blog-services .row {
    margin-bottom: 30px;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.blog-services .row .col {
   width: 30%;
    text-align: center;
    color: var(--gray-color);
}
.blog-services .row .col .service-card{
    padding: 30px 0px;
}
.blog-services .row .col .service-card img{
    width: 30%;
    margin-bottom: 20px;
}
.blog-services .row .col .service-card h3{
    font-size: 22px;
    margin-bottom: 15px;
    color:var(--primary-color); ;
}
.blog-services .row .col .service-card p{
    font-size: 16px;
    line-height: 2;
    margin-bottom: 10px;
}
.blog-services .row .col .service-card a{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    color: var(--white);
    background: var(--secondary-hover);
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
}
.blog-services .row .col .service-card a:hover{
    background: var(--secondary-color);
}
.blog-services .row .col .service-card a i{
    margin-right: 10px;
}
@media (max-width: 991px) {
    .blog-services .row .col {
        width: 45%;
    }
}
@media (max-width: 575px) {
    .blog-services .row .col {
        width: 100%;
    }
}