.blogs-card-tab {
    background-color: #000;
    padding: 20px 0;
}

.blogs-card-tab .row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.blogs-card-tab .row .col {
    width: 30%;
}

.blogs-card-tab .row .col .card-blog {
    width: 100%;
    background-color: var(--white);
    height: 100%;
    color: var(--black-2);
    transition: all .5s ease-in-out;

}

.blogs-card-tab .row .col .card-blog:hover .img img {
    transform: scale(1.2);
}

.blogs-card-tab .row .col .card-blog .img {
    overflow: hidden;
}

.blogs-card-tab .row .col .card-blog .img img {
    transition: all .5s ease-in-out;
}

.blogs-card-tab .row .col .card-blog .data {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blogs-card-tab .row .col .card-blog .data .sub-cat {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--e-global-color-primary);
}

.blogs-card-tab .row .col .card-blog .data .main-list {
    font-weight: bold;
    list-style: disc;
    color: var(--e-global-color-text);
    padding-left: 15px;
}

.blogs-card-tab .row .col .card-blog .data .internal-list {
    font-weight: normal;

    list-style: circle;
    color: var(--black-2);
}

.blogs-card-tab .row .col .card-blog .data .date {
    color: var(--e-global-color-primary);
    display: flex;
    align-items: center;
    gap: 10px;
}

.blogs-card-tab .row .col .card-blog .data .read-more {
    color: var(--white);
    background-color: var(--e-global-color-text);
    width: fit-content;
    padding: 5px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.blogs-card-tab .row .col .card-blog .data .read-more:hover {
    background-color: var(--e-global-color-primary);
}

/* ================== Responsive Design ================== */

/* للأجهزة المتوسطة (تابلت) */
@media (max-width: 992px) {
    .blogs-card-tab .row .col {
        width: 45%;
    }
}

/* للموبايل */
@media (max-width: 768px) {
    .blogs-card-tab .row {
        gap: 20px;
    }

    .blogs-card-tab .row .col {
        width: 100%;
    }

    .blogs-card-tab .row .col .card-blog .data {
        padding: 15px;
    }

    .blogs-card-tab .row .col .card-blog .data .read-more {
        font-size: 14px;
        padding: 5px 15px;
    }
}