.blog-slider {
    width: 100%;
    max-width: 1200px;
    margin: auto;
   
  }
  
  .blog-track {
    display: flex;
    flex-wrap: wrap;
    padding: 50px ;
    gap: 10px;
  }
  
  .blog-track .slide {
    width: 30%;
    background-color: var(--secondary-hover);
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin-left: 10px; */
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
  }
  
  .blog-track a {
    padding:10px;
  }

    @media (max-width: 768px) {
        .blog-track .slide {
        width: 100%;
        }
        
    }