.clients-slider {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    direction: rtl; /* مهم علشان السلايدر يبقى يمين لليسار */
  }
  
  .clients-track {
    display: flex;
    padding: 50px ;
    transition: transform 0.5s ease-in-out;
  }
  
  .clients-track .slide {
    flex: 0 0 calc(100% / 6); /* 6 صور في الصف */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
  }
  
  .clients-track img {
    max-width: 100px;
    height: auto;
    padding: 10px;
    filter: grayscale(100%); /* لجعل الصور رمادية */
  }
  .clients-track img:hover {
    filter: none; /* إزالة التدرج الرمادي عند المرور */
    transform: scale(1.1); /* تكبير الصورة قليلاً عند المرور */
    transition: transform 0.3s, filter 0.3s;
  }
  @media (max-width: 768px) {
    .clients-track .slide {
      flex: 0 0 calc(100% / 2); /* 3 صور في الصف على الشاشات الصغيرة */
    }
    
  }