.cursor1, .cursor2 {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 1s ease-out, opacity 1s ease;
    mix-blend-mode: difference;
    z-index: 100000000000000000000000;
  }

  .cursor1 {
    width: 40px;
    height: 40px;
    border: 1px solid var(--e-global-color-913edee);
    border-radius: 50%;
  }

  .cursor2 {
    width: 8px;
    height: 8px;
    background: var(--e-global-color-913edee);
    border-radius: 50%;
    transition: transform .2s ease-out, opacity 1s ease;
  }
  .scroll-top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px !important;
    bottom: 20px;
    z-index: 9991;
    border-radius: 100px;
    color: var(--white);
    background: var(--white);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: none;
    mix-blend-mode: exclusion;
}
.scroll-top i {
    font-size: 18px;
    color: var(--black-2);
}
@media (max-width: 768px) {
  .cursor1, .cursor2 {
    display: none;
  }
  
}