.filter-category-single-work .seo {
    margin-top: 20px;
}
.filter-category-single-work .seo .row {
    justify-content: right;
    gap: 30px;
}
.filter-category-single-work .seo .row .col{
    height: 450px;
    background-image: url("../img/seo-card.jpg");
    background-position: center;
    background-size: cover;
    width: 30%;
}
.filter-category-single-work .seo .row .col h2{
 text-align: center;
 margin-block: 20px;
 font-size: 30px;
}
.filter-category-single-work .seo .row .col img{
  height: 50%;
  width: 100%;
}
@media (max-width: 768px) {
    .filter-category-single-work .seo .row {
        flex-direction: column;
        align-items: center;
    }
    .filter-category-single-work .seo .row .col {
        width: 100%;
        margin-bottom: 20px;
    }
}