header {
    background: #000 !important;
    ;
}

.header__area-2,
.header__area-7 {
    padding: 3px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.header__inner-2,
.header__inner-3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 150px auto 150px;
    grid-template-columns: 150px auto 150px;
    padding: 0 30px;
}

.header__logo-2 {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__logo-2 img {
    height: 55px;
}

.header__nav-2 {
    text-align: center !important;
}

.header__nav-2 .main-menu {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.main-menu>li,
.main-menu-4>li {
    margin: 0 20px !important;
}

.main-menu-4>li>a,
.main-menu>li>a {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: var(--white);
    padding: 29px 0;
    outline: 0;
    text-transform: capitalize;
    -webkit-transform: translateY(var(--y)) translateZ(0);
    transform: translateY(var(--y)) translateZ(0);
    -webkit-transition: -webkit-transform .4s, -webkit-box-shadow .4s;
    transition: transform .4s, box-shadow .4s, -webkit-transform .4s, -webkit-box-shadow .4s;
}

.main-menu>li>a:hover {
    --y: -4px
}

.header__area-2 .main-dropdown {
    background-color: var(--white);
    color: var(--black-2);
}

.main-dropdown {
    top: 0;
    text-align: right;
    -webkit-transition: .3s;
    transition: .3s;
    width: 100%;
    padding: 15px 0;
    position: relative;
    z-index: 9;
    opacity: 1;
    display: none;
}

.main-dropdown1 {
    position: absolute;
    top: 0;
    width: 400px;
    background-color: var(--white);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 999;
}

.main-menu>li:hover .main-dropdown1 {
    top: 75px;
    opacity: 1;
    visibility: visible;
    display: block;
}

.main-dropdown li a {
    display: block;
    padding: 10px 20px;
}

.header__nav-icon-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%;
}

.menu-icon-2 {
    padding: 10px;
    min-width: 44px;
    min-height: 44px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 11;
}

/* ===================================================================================================================================================================================================================================================================================================== */

.offcanvas__area {
    background-color: var(--black-2);
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 9999;
    display: none;
    transition: .3s;
    position: fixed;
    /* direction: rtl; */
}

.offcanvas__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.9fr 3fr 1.3fr;
    grid-template-columns: 0.9fr 3fr 1.3fr;
    height: 100%;
}

.offcanvas__left {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 0.5fr 2.1fr 1fr;
    grid-template-rows: 0.5fr 2.1fr 1fr;
    border-right: 1px solid var(--black-4);
}

.offcanvas__logo {
    padding: 18px 10px !important;
    border-bottom: 1px solid var(--black-4);
}

.offcanvas__logo img {
    height: 55px;
}

.offcanvas__social {
    display: block !important;
    padding: 50px !important;
    border-bottom: 1px solid #1d1d1d;
}

.offcanvas__contact p,
.offcanvas__social .social-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    color: var(--white);
    padding-bottom: 20px;
}

.offcanvas__social ul li {
    padding-bottom: 2px;
}

.offcanvas__social ul li a {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--white);
}

.offcanvas__mid {
    overflow: hidden;
    overflow-y: auto;
}

.offcanvas__mid::-webkit-scrollbar {
    width: 8px;
}

.offcanvas__mid::-webkit-scrollbar-track {
    background-color: transparent;
}

.offcanvas__mid::-webkit-scrollbar-thumb {
    background-color: var(--e-global-color-primary);
    background-image: linear-gradient(0deg, var(--e-global-color-primary) 0%, var(--e-global-color-913edee) 100%);
    border-radius: 5px;
}

.offcanvas__menu-wrapper.mean-container {
    padding-top: 92px !important;
}

.offcanvas__menu-wrapper.mean-container .mean-bar {
    padding: 0;
    background: 0 0;
}

.offcanvas__menu-wrapper.mean-container .mean-nav>ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: block !important;
}

.mean-container .mean-nav ul li {
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.137);
}

.offcanvas__menu-wrapper.mean-container .mean-nav ul li a {
    font-size: 26px !important;
    width: 90% !important;
    padding: 20px 20px 20px 20px !important;
    font-weight: 400;
    font-weight: 400;
    font-size: 80px;
    line-height: 1;
    color: var(--white);
    text-transform: capitalize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    outline: 0;
    -webkit-transform: translateY(var(--y)) translateZ(0);
    transform: translateY(var(--y)) translateZ(0);
    -webkit-transition: -webkit-transform .4s, -webkit-box-shadow .4s;
    transition: transform .4s, box-shadow .4s, -webkit-transform .4s, -webkit-box-shadow .4s;

}

.mean-container .mean-nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
}

.mean-container .mean-nav ul li a.mean-expand {
    left: 0 !important;
    right: initial !important;
}

.offcanvas__menu-wrapper.mean-container .mean-nav ul li a.mean-expand {
    width: auto !important;
    height: auto !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 300;
    border: none !important;
    padding: 12px !important;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 2;
    font-weight: 700;
    background: rgba(255, 255, 255, .1);
}



.offcanvas__menu-wrapper.mean-container .mean-nav ul li li:first-child {
    border-top: 1px solid var(--black-4);
}



.mean-container .mean-bar,
.mean-container .mean-bar * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.mean-container .mean-bar {
    float: left;
    width: 100%;
    position: relative;
    background: #0c1923;
    padding: 4px 0;
    min-height: 42px;
    z-index: 999999;
}

.mean-container .mean-nav {
    float: left;
    width: 100%;
    /* background: #0c1923; */
    margin-top: 44px;
}

/* .mean-container .mean-push {
    clear: both;
} */

.offcanvas__right {
    background-color: var(--black-4);
    padding: 0 50px;
    position: relative;
    height: 100vh;
}

.offcanvas__search {
    padding-top: 95px !important;
    padding-bottom: 22px !important;
}

.offcanvas__right .shape-1 {
    left: 20px;
    position: absolute;
    bottom: 0;
}

.offcanvas__close {
    position: absolute;
    right: 40px;
    top: 30px;
}

.offcanvas__close button {
    cursor: pointer;
    font-size: 30px;
    width: 60px;
    height: 60px;
    color: var(--white);
    background: #232323;
    border-radius: 100%;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: .3s;
    transition: .3s;
}

@media (max-width: 991px) {
    .header__nav-2 {
        display: none !important;
    }

    .header__inner-2 {
        grid-template-columns: auto 44px !important;
    }

    .header__logo-2 {
        -ms-flex-item-align: start;
        align-self: start;
    }

    .header__logo-2 img {
        height: 45px;
    }

    .header__nav-icon-2 {
        -ms-flex-item-align: end;
        align-self: end;
    }

    .offcanvas__menu-wrapper.mean-container .mean-nav ul li a {
        font-size: 20px !important;
        padding: 15px 15px 15px 20px !important;
        width: 85% !important;
        line-height: 1.2 !important;
        text-transform: capitalize;
    }

    .offcanvas__right .shape-1 {
        left: 0 !important;
    }
}

@media (max-width: 766px) {

    .offcanvas__left,
    .offcanvas__right {
        display: none;
    }

    .offcanvas__mid {
        grid-column: span 3;
        height: 90vh;
    }
}