.hero {
  background-color: #000000;
  /* background-image: url("../img/logo-half.png"); */
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 20% auto;
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  position: relative;
}

.hero-overlay {
  /* background-image: url("../img/logo-half-right.png"); */
  background-position: top right;
  background-repeat: no-repeat;
  opacity: 0.44;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  inset: 0;
  position: absolute;
}

.hero-container {
  height: 100%;
  align-items: center;
  display: flex;
  margin: 0 auto;
  position: relative;
  padding: 100px 0px 200px 0px;
  max-width: 1200px;

}

.hero-content,
.hero-media {
  width: 50%;
  padding: 15px;
  display: flex;
  min-height: 1px;
  position: relative;
  flex-direction: column;
  align-content: center;
  align-items: center;

}

.hero-content {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  text-align: right;
}

.hero-content h1 {
  width: 100%;
  font-size: 68px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-content h2 {
  width: 100%;
  font-size: 50px;
  line-height: 1.8;
  margin-bottom: 30px;
  font-weight: 400;
}

.hero-content div {
  width: 100%;
  margin-bottom: 40px;
}

.hero-content a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(90deg, #4f46e5, #9333ea);
  /* background: var(--e-global-color-primary); */
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;

}


.hero-content a:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #4338ca, #7e22ce);
}

.hero-content a i {
  font-size: 18px;
}

.hero-media img {
  width: 80%;
}

.hero-media .hero-socials {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 20px;
}

.hero-media .hero-socials a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: var(--e-global-color-primary);
  border-radius: 50%;
  color: #fff;
  line-height: 50px;
  text-align: center;
  transition: all 0.3s;
}

.hero-media .hero-socials a:hover {
  background: var(--e-global-color-913edee);
  transform: scale(1.1);
}






/* ======================  animatiom  ======================= */

/* ====== إعداد الأنيميشن ====== */
.text-anim {
  display: flex;
  align-items: center;
  gap: 25px;
  perspective: 400px;
  justify-content: space-between;
  width: 90%;
  /* مهم عشان 3D */
}

.text-anim-line {
  display: block;
  opacity: 0;
  transform: rotateX(-90deg);
  transform-origin: top center -100px;
  transition: transform 1.3s ease, opacity 1.1s ease;
}

.text-anim-line.visible {
  opacity: 1;
  transform: rotateX(0deg);
}

@media (max-width: 991px) {
  .hero-container {
    flex-direction: column;
    padding: 100px 15px;
  }

  .hero-content,
  .hero-media {
    width: 100%;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 48px;
  }

  .hero-content h2 {
    font-size: 30px;
  }

  .hero-media .hero-socials {
    justify-content: center;
  }
}

@media (max-width: 575px) {
  .hero-content h1 {
    font-size: 36px;
  }

  .hero-content h2 {
    font-size: 24px;
  }

  .hero-content a {
    font-size: 16px;
    padding: 8px 20px;
    margin-top: 20px;
  }

  .hero-media img {
    width: 70%;
  }
}