.how-success {
    background-color: #000;
    padding: 30px 0;
}

.how-success .row1,
.how-success .row2 {
    display: flex;
    margin-bottom: 30px;
}

.how-success .row2 {
    align-items: start;
}

.how-success .row1 {
    align-items: center;
    gap: 20px;


}

.how-success .row1 .col-right {
    width: 33%;
}

.how-success .row1 .col-right h2 {
    font-size: 45px;
    font-weight: 600;
}

.how-success .row1 .col-left {
    width: 66%;
}

.how-success .row2 .col {
    padding: 10px;
    height: 350px;
    width: 25%;
    border-left: 1px solid #eeeeee33;
}

.how-success .row2 .col:last-child {
    border-left: none;
}

.how-success .row2 .col .title-sec {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border-bottom: 1px solid #eeeeee33;
}

.how-success .row2 .col .title-sec img {
    width: 15%;
}

.how-success .row2 .col .title-sec h3 {
    width: 85%;
    font-size: 16px;
    font-weight: 500;
}

.how-success .row2 .col .discreption-sec {
    padding: 5px;
    font-size: 14.5px;
    font-weight: 500;
}

.how-success .row2 .col .discreption-sec ul li .list-icon {
    margin-left: 5px;
}

/* تابلت */
@media (max-width: 1024px) {

    .how-success .row2 {
        flex-wrap: wrap;
    }


    .how-success .row2 .col {
        width: 50%;
    }
    .how-success .row2 .col .title-sec h3 {
        width: 100%;
        font-size: 25px;
        font-weight: 500;
    }
    .how-success .row2 .col .discreption-sec {
        padding: 15px;
        font-size: 18px;
        font-weight: 500;
    }
}

/* لابتوب وديسكتوب */
@media (max-width: 769px) {
    .how-success .row2 .col ,.how-success .row1 .col-right{
        width: 100%;
    }
    .how-success .row2 .col {
      height: auto;
    }
    .how-success .row1{

        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}
