.learn-with-us{
    background-color: #000;
    padding: 40px 0;
}
.learn-with-us .row{
    display: flex;
    justify-content: center;
    justify-items: center;
    /* align-items: center; */
    align-content: center;
    text-align: center;
    gap: 20px;
    flex-wrap: wrap;
}
.learn-with-us .row h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.learn-with-us .row .col {
    width: 30%;
    height: 100%;
    position: relative;
    z-index: 5;
}
.learn-with-us .row .col .learn-img{
    overflow: hidden;
    margin-bottom: 25px;
    position: relative;
    z-index: 9;
    position: relative;
    width: 100%;
    height: 350px;
}
.learn-with-us .row .col .learn-img img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: .5s;
    background-size: cover;
}


.learn-img img:first-child {
    -webkit-transform: translatex(50%) scalex(2);
    transform: translatex(50%) scalex(2);
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px)
}

.learn-img:hover img:first-child {
    -webkit-transform: translatex(0) scalex(1);
    transform: translatex(0) scalex(1);
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
}

.learn-img:hover img:nth-child(2) {
    -webkit-transform: translatex(-50%) scalex(2);
    transform: translatex(-50%) scalex(2);
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.learn-with-us .row .col .learn-title{
    font-size: 20px;
    font-weight: 500;
}
@media (max-width: 1200px) {
    .learn-with-us .row .col {
        width: 45%;
        margin-bottom: 20px;
    }
    
}
@media (max-width: 768px) {
   
    .learn-with-us .row .col {
        width: 100%;
    }
    .learn-with-us .row .col .learn-img{
        height: 500px;

    }
    .learn-with-us .row .col .learn-title{
        font-size: 28px;
    }
}