.smooth-wrapper {
    inset: 0px;
    width: 100%;
    height: 100%;
    /* position: fixed; */
    overflow: hidden;
}

.smooth-content {
    translate: none;
    rotate: none;
    scale: none;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    box-sizing: border-box;
    width: 100%;
    overflow: visible;
}