.mission{
    background-color: #000;
    padding: 40px 0;
    position: relative;

}
.jobs-hero-tab{
    padding: 140px 0 20px 0;
}
.mission2{
    background-color: #000;
    background-image: radial-gradient(at center center, #4E008E 10%, #5A02B300 50%);
}
.mission .row{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap; 
}
.mission .row .col{
    width: 100%;
    text-align: center;
}
.mission .row .col h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.mission .row .col .text-gray{
    color: var(--e-global-color-secondary);
    font-size: 20px;
    line-height: 1.6;
    margin-block: 20px;
}
/* 
 */
 @media (max-width:767px) {
    .mission .row .col h2{
        font-size: 27px;
    }
    .mission .row .col .text-gray{
        font-size: 17px;
    }
 }