.more-partners {
    background-color: #000;
}
.more-partners .row{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.more-partners .row .col{
    width: 50%;
}
.more-partners .row .col.col2{
   display: flex;
   justify-content: center;
}
.more-partners .row .col .service__top-btn #btn_wrapper{
    margin-right: 0px;
}
.more-partners .row .col .service__top-btn #btn_wrapper .btn-item {
    font-size: 14px;
}

/* تابلت */
@media (max-width: 1024px) {
   
    .more-partners .row{
        flex-wrap: wrap;
    }
    .more-partners .row .col{
        width: 100%;
        justify-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
  }
