.more-partners2 {
    background-color: var(--white);
    padding-block: 30px;
}

.more-partners2 .row {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.more-partners2 .row .col {
    width: 16.6666%;
    border: 3px solid var(--gray);
    padding: 10px;
    overflow: hidden;
}
.more-partners2 .row .col a{
   width: 100%;
   height: 100%;
}
.more-partners2 .row .col a img{
    transition: all 1s ease-out;
}
.more-partners2 .row .col a img:hover{
    transform: scale(1.3);
}
/* تابلت */
@media (max-width: 1024px) {
   
    .more-partners2 .row .col {
        width: 33.33%;
    }
}

/* لابتوب وديسكتوب */
@media (max-width: 769px) {
    .more-partners2 .row .col {
        width:50%;
    }
  
}
/* لابتوب وديسكتوب */
@media (max-width: 543px) {
    .more-partners2 .row .col {
        width:100%;
    }
}