.services {
    background-color: #000;
    padding: 50px 0;
    direction: rtl;
}

.services .row1 {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
}

.services .row1 .col-right {
    width: 33%;
}

.services .row1 .col-right h2 {
    font-size: 45px;
    font-weight: 600;
}

.services .row1 .col-left {
    width: 66%;
}

.services .row1 .col-left p {
    width: 65%;
    font-size: 18px;
    font-weight: 500;
    color: var(--e-global-color-secondary);
    line-height: 1.8;
}


/* صور الخدمات */
.service__img-wrapper {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
    /* border-radius: 12px; */
}

.service__img {
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
    position: absolute;
    -webkit-transform: rotate(0) translateX(-100px);
    transform: rotate(0) translateX(-100px);
    border: none;
    border-radius: 0;
    box-shadow: none;
    /* height: auto; */
    min-height: 300px;
    max-height: 300px;
    max-width: 300px;
    min-width: 300px;
}

.service__img.active {
    -webkit-transform: rotate(15deg) translateX(-60px) translateY(30px);
    transform: rotate(15deg) translateX(-60px) translateY(30px);
    opacity: 1;

}

.service__img-wrapper span {
    position: absolute;
    width: 175px;
    height: 70px;
    background-color: var(--e-global-color-primary);
    bottom: 0;
    left: 0;
    -webkit-transform: rotate(-26deg) translate(-100%, -100%);
    transform: rotate(-26deg) translate(-100%, -100%);
    -webkit-transition: .3s 0.2s;
    transition: .3s 0.2s;
    z-index: 1
}

.service__img-wrapper span.current {
    -webkit-transform: rotate(-26deg) translate(120px, -100%);
    transform: rotate(-26deg) translate(120px, -100%)
}



/* الخدمات */
.service__list {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.service__list a:first-child .service__item {
    border-top: 1px solid #000;
}

.service__item {
    grid-template-columns: 0.5fr 1fr 3.5fr 0.7fr !important;
    display: -ms-grid;
    display: grid;
    padding: 5px 0 !important;
    align-items: center;
    border-bottom: 1px solid #eeeeee1e;
    -webkit-transition: .3s;
    transition: .3s;
}

.service__number {
    line-height: 1.2;
    -webkit-transition: .3s;
    transition: .3s;
    line-height: 1.2;
    font-size: 28px;
    color: var(--e-global-color-secondary);
    font-weight: 400;
}

.service__title {
    font-size: 20px;
    margin: 10px 0;
    color: #222;
    transition: opacity 0.24s ease-in-out;
}

.service__list .active .service__title {
    color: var(--white);
}

.service__text p {
    padding-right: 20px;
    margin: 0;
    color: var(--white) !important;
    ;
    font-size: 14px;
    line-height: 1.6;
    transition: color 0.4s ease;
}

.service__link {
    text-align: right;
    overflow: hidden;
}

.service__link p {
    display: inline-block;
    font-size: 100px;
    font-weight: 900;
    color: var(--white);
}

.service__link p i {
    color: var(--white);

    font-size: 40px;
    font-weight: 900;
    transform: translate(0, 0) rotate(-45deg);
    -webkit-transition: .3s;
    transition: .3s;
}



.service__item:hover .service__number,
.service__item:hover .service__title,
.service__item:hover .service__text p {
    color: #fff;
}

.service__item:hover .service__link i {
    color: var(--e-global-color-primary);
    transform: rotate(150deg);
}

@media (max-width: 991px) {
    .services .row1 {
        flex-direction: column;
        text-align: center;
    }

    .services .row1 .col-right,
    .services .row1 .col-left {
        width: 100%;
    }

    .services .row1 .col-left p {
        width: 100%;
        margin-top: 20px;
    }

    .service__img-wrapper {
        height: 400px;
    }

}

@media (max-width: 575px) {

    .service__img-wrapper {
        display: none;
    }

    .service__item {
        grid-template-columns: 1fr !important;
        display: -ms-grid;
        display: grid;
        padding: 10px 0 !important;
        text-align: start;
        border-bottom: 1px solid #eeeeee1e;
        -webkit-transition: .3s;
        transition: .3s;
    }

    .service__number {
        font-size: 24px;
    }

    .service__title {
        font-size: 28px;
        margin: 5px 0;
    }

    .service__text p {
        font-size: 13px;
        padding-right: 10px;
    }

    .service__link p {
        font-size: 80px;
    }

    .service__link p i {
        font-size: 40px;
    }
}