.successfulblog .row{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}
.successfulblog .row .col1{
    width: 50%;
   background-color: var(--secondary-hover);
   color: var(--white);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.successfulblog .row .col1 h2{
    margin-bottom: 15px;
    color: var(--primary-color);
}
.successfulblog .row .col2{
    width: 50%;
}
.successfulblog .row .col2 img{
    width: 100%;
}
@media (max-width: 768px) {
    .successfulblog .row {
        flex-direction: column;
    }
    .successfulblog .row .col1,
    .successfulblog .row .col2 {
        width: 100%;
    }
    .successfulblog .row .col1 {
        margin-bottom: 20px;
    }
    
}