.what-you-will-get-from-the-service {
    background-color: #000000;
    padding: 20px 0;
}


.what-you-will-get-from-the-service .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;

}
.what-you-will-get-from-the-service .row-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 25px;
    font-size: 20px;

}

.what-you-will-get-from-the-service .row .col {
    width: 45%;
    display: flex;
    gap: 20px;
    align-items: center;
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.9s ease;
}

/* لما تبقى ظاهرة */
.what-you-will-get-from-the-service .col.show {
    opacity: 1;
    transform: translateX(0);
  }

.what-you-will-get-from-the-service .row .col .svg{
    width: 10%;
}
.what-you-will-get-from-the-service .row .col .svg svg{
    width: 100%;
    height: 100%;
}
.what-you-will-get-from-the-service .row .col .data p{
   color: var(--e-global-color-secondary);
}


/* تابلت */
@media (max-width: 1024px) {
    .what-you-will-get-from-the-service .row .col {
        width: 48%;
    }

  }
  
  /* لابتوب وديسكتوب */
  @media (max-width: 667px) {
    .what-you-will-get-from-the-service .row .col {
        width: 100%;
    }
  }